/* ==========================================================================
  CSS Reset
  ========================================================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==========================================================================
  CARDS
  ========================================================================== */

.main-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 25%;
    height: 60vh;
    background-color: #1E1E1E;
    color: #fff;
    font-size: 30px;
    border-radius: 25px;
    text-align: center;
}

/* Premier sans mobile first */
/* screen : Nos règles ne vont s'appliquer qu'aux appareils écran */
/* Fait les changements ne dépasse pas 576px */

/* Breakpoint pour tablette */
@media screen and (max-width: 768px) {
    /* ici je peux reprendre mes classes et leur dire de bouger ou de changer de valeur de propriété */
    .card {
        font-size: 22px;
        width: 100%;
        border-radius: unset
    }

    .main-cards {
        /*
        3 façons de faire :
        display: block;
        flex-wrap: wrap;
        flex-direction: column;
        */
        flex-direction: column;
    }
}

/* Breakpoint pour mobile */
@media screen and (max-width: 576px) {
    /* ici je peux reprendre mes classes et leur dire de bouger ou de changer de valeur de propriété */
    .card {
        font-size: initial;
    }

}
